<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>钱宝宝网站啰嗦日志</title>
</head>
<body>
<p align="right"><a href="http://www.qianbaobao365.com">返回首页</a></p>
<hr/>
2012-11-26&nbsp;&nbsp;&nbsp;&nbsp;更新日志<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;1、增加账单回收站的功能(单条恢复账单、单条删除账单、一键清空回收站)<br/>
&nbsp;&nbsp;&nbsp;&nbsp;2、增加用户登录日志记录，用户可以查看最近10次的系统登录日志。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;3、更新账单列表背景显示方式<br/>
&nbsp;&nbsp;&nbsp;&nbsp;4、修复若干可能绕过用户权限而恶意操作别人用户信息的漏洞<br/>
<hr/>
2012-11-05&nbsp;&nbsp;&nbsp;&nbsp;更新日志<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;1、更新在登录界面进行使用注册邮箱找回密码的功能&nbsp;&nbsp;&nbsp;&nbsp;(外网测试已通过)<br/><br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;PS：经过一个星期的努力，测试了多个国外的服务器，现在终于找到了一个能连接国内邮件服务器的空间 ^_^，实在是不容易啊，今天就把密码找回的功能更新完了。
<hr/>
2012-11-02&nbsp;&nbsp;&nbsp;&nbsp;更新日志<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;1、更新在登录界面进行使用注册邮箱找回密码的功能&nbsp;&nbsp;&nbsp;&nbsp;(本地测试已通过)<br/><br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;PS：关于邮件的发送真的让我很头疼，本来我是注册的163的邮箱，我在我本机上测试邮件发送没有任何问题。然后我将密码找回的功能开发完毕，上传到了
钱宝宝服务器网站上，谁知道在测试的时候出了问题。大家也知道，我在一开始的时候也说过，钱宝宝网站服务器是使用的美国的服务器，然而意想不到的是美国的服务器不能连接国内的
163邮件服务器，可恶的GFW！！！！！！<img src='http://www.qianbaobao365.com/qsmileys/fanu.gif' />！！！！！<img src='http://www.qianbaobao365.com/qsmileys/fanu.gif' />
正好我手头有一个国内的网站，然后我把邮件发送的功能放到了国内的这个网站上，发送邮件只需钱宝宝网站调用这个接口，把邮箱的地址参数传送给该接口就可以发送邮件。但是悲剧依然发生了，
该国内网站在美国还是访问不到，在一次可恶的GFW！！！！！！<img src='http://www.qianbaobao365.com/qsmileys/fanu.gif' />！！！！！<img src='http://www.qianbaobao365.com/qsmileys/fanu.gif' />
没办法，只有考虑国外的邮箱了，首先是gmail。不过gmail也不是很稳定啊，我是相对于国内来说的，因为有GFW的阻隔，有时候经常访问不到，还有就是会被主流的邮件服务器视为垃圾邮件。看看在说吧。
<hr/>
2012-10-31&nbsp;&nbsp;&nbsp;&nbsp;更新日志<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;1、增加管理员对普通账号进行解/锁定、禁止/恢复发言、禁止/恢复发帖、禁止/恢复回帖、重置密码、删除非法头像、积分清零的功能<br/>
&nbsp;&nbsp;&nbsp;&nbsp;2、增加会员注册时验证码进行验证的功能<br/>
&nbsp;&nbsp;&nbsp;&nbsp;3、修正重置会员密码后，会员修改初始密码时密码输入框长度小于初始密码长度而导致密码修改失败的错误<br/>
&nbsp;&nbsp;&nbsp;&nbsp;新想法：<br/>
&nbsp;&nbsp;&nbsp;&nbsp;1、增加用户登录日志（注:已于2012-11-26的更新中实现）<br/>
<hr/>
2012-10-30&nbsp;&nbsp;&nbsp;&nbsp;更新日志<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;1、账单列表增加导出到Excel表格的功能，支持选择固定日期导出<br/>
&nbsp;&nbsp;&nbsp;&nbsp;2、增加发帖时对没有权限的人进行过滤的功能<br/>
<hr/>
2012-10-29&nbsp;&nbsp;&nbsp;&nbsp;更新日志<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;1、群组增加管理员的删除、置顶帖子、取消置顶帖子的功能<br/>
&nbsp;&nbsp;&nbsp;&nbsp;2、群组增加管理员删除不当言论的回复的功能<br/>
&nbsp;&nbsp;&nbsp;&nbsp;3、群组发布新话题使用编辑器<br/>
&nbsp;&nbsp;&nbsp;&nbsp;4、群组话题增加作者修改帖子功能、管理员修改任意帖子功能<br/>	
&nbsp;&nbsp;&nbsp;&nbsp;5、回复话题修改为使用QQ表情<br/>
&nbsp;&nbsp;&nbsp;&nbsp;6、修复编辑器里js文件在ie浏览器中的一个bug<br/>
&nbsp;&nbsp;&nbsp;&nbsp;7、修复查询话题时没有过滤已删除的话题的错误<br/>
&nbsp;&nbsp;&nbsp;&nbsp;8、修复增加、编辑话题时对话题内容进行XSS过滤而照成内容样式被过滤的错误<br/>

<hr/>
2012-10-23&nbsp;&nbsp;&nbsp;&nbsp;更新日志<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;1、财务分析增加现金、刷卡、代金券等分类的总体统计。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;2、增加用户头像上传+裁切的功能。
<hr/>
2012-10-22&nbsp;&nbsp;&nbsp;&nbsp;新想法<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;1、回收站功能(注:已于2012-11-26的更新中实现)<br/>
&nbsp;&nbsp;&nbsp;&nbsp;2、会员生日网站公告展示功能(注:暂未实现)<br/>
&nbsp;&nbsp;&nbsp;&nbsp;3、自动定时记账(注:暂未实现)
<hr/>
2012-10-19&nbsp;&nbsp;&nbsp;&nbsp;更新日志<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;首先，非常感谢朋友xumin对网站进行测试和提出很多建议，再次感谢~<br/>
&nbsp;&nbsp;&nbsp;&nbsp;其次，对于项目整体的计划我没有进行过过专业的培训，所以也没有什么系统设计、系统说明书一类的东西，我都是直接开发功能，所以请专业人士勿喷！<br/>
&nbsp;&nbsp;&nbsp;&nbsp;本次更新的主要功能：<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、注册用户增加头像的功能，由于还没有找到合适的图片裁剪插件，所以现在还没有实现次功能。初步打算用JQ的插件，还在测试中...(已于2012-10-23更新完毕)<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、注册用户增加积分的功能。目前还没有想好积分积累的方式和积分的使用方式，所有如果你有什么好的想法，可以在网站使用帮助群组中发帖子告诉我。如果被采纳，可以赠与积分或者其他的特权。(注:暂未实现)<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、增加群组、群组发帖、群组回复发帖、回复楼层用户的功能。
<hr/>
2012-10-15&nbsp;&nbsp;&nbsp;&nbsp;网站开始上线运行。<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;15天的假期过的好累啊，在医院守了7天，晚上都是到很晚才睡。媳妇生了个女孩，母女平安！呵呵，我一直都想要个女孩^_^,这下如我所愿了。这期间完成了钱宝宝的分类设置、支付方式设置、我要记账、账单列表等功能。这些功能基本上都是
我在医院守夜的时候完成的。心里也感谢这个想法，要不我在晚上没什么事情干，肯定不长时间就睡着了啊。。。那还守什么夜？？？<br/>
&nbsp;&nbsp;&nbsp;&nbsp;万网真让我感到头疼，大约是今年初的时候，因为工作的事情要帮客户在万网上注册一个域名。我把钱充值到万网会员里，后来因为某些原因，域名没有注册成功。当我向万网提出要退钱的时候，万网要我
填写什么申请表，然后申请表要盖那个客户的单位的公章（因为之前申请域名的时候是以客户的信息申请的）。因为客户的项目都已经做完了，所以我也没再去客户那里盖章，所以域名的钱一直存在万网里。正好今天用这个钱，注册了www.qianbaobao365.com
的域名，购买了两年的使用权。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;购买了域名，找了个国外的免费空间(PASS:国内的空间要审核备案，顺利的话大约历时半个月，So,还是果断去国外...)，就这样，网站开始上线运行了。

<hr/>
2012-09-30&nbsp;&nbsp;&nbsp;&nbsp;萌生钱宝宝想法。<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;我前几天偶尔看到了一个网络记账的网站，感到非常的好玩。和一友人推荐了这个网站之后，她鼓励我也开发一套这样的网站，所以在今天决定开发一套网络记账的小网站，起名叫：钱宝宝！<br/>
&nbsp;&nbsp;&nbsp;&nbsp;由于本人的美工基础不敢恭维，所以界面就模仿的其他的一个网站，希望这个网站不要告我侵权哈 -_-。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;今天下午放假，回家去过有史以来最艹蛋的一个假期，3天中秋+7天国庆=8天特长假...(^_^)。加之10.3号是我媳妇的预产期，所以我还有7天的陪护假，一共是15天的假期。
等放假回到家里，我就没大有时间来写程序了，因为要在家里干农活和去医院照顾我媳妇。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;今天差不多完成了网站的登录、注册等基本的功能。
</body>
</html>